;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dev-http {8080 "public"}

 :dependencies
 [[cider/cider-nrepl "0.30.0"]
  [reagent "1.2.0"]
  [dev.weavejester/medley "1.7.0"]]

 :builds
 {:triangle {:target :browser
             :output-dir "public/js"
             :output-to "main.js"
             :complier-options{:optimizations :simple}
             :modules {:main {:init-fn triangle.core/init}}}}}
